<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/header :: header}"></div>


<body>
  <div class="container mt-5">
    <h2>게시글 상세</h2>

    <p>
      번호 :
      <span th:text="${board.id}"></span>
    </p>

    <p>
      제목 :
      <span th:text="${board.title}"></span>
    </p>

    <p>
      작성자 :
      <span th:text="${board.writer}"></span>
    </p>

    <p>
      내용 :
      <span th:text="${board.content}"></span>
    </p>

    <a th:href="@{/boards(page=${page},type=${type},keyword=${keyword})}" class="btn btn-secondary">목록</a>
    <a th:href="@{/boards/{id}/edit(id=${board.id},page=${page},type=${type},keyword=${keyword})}" class="btn btn-warning">수정</a>


    <!-- 삭제 기능은 post 권고, get 으로 할 경우, get 으로 호출한 것만으로 삭제가 될 위험 존재 -->

    <form th:action="@{/boards/{id}/delete(id=${board.id},page=${page},type=${type},keyword=${keyword})}"
          method="post"
          onsubmit="return confirm('정말 삭제하시겠습니까?')">

      <button type="submit" class="btn btn-danger">삭제</button>

    </form>


  </div>

  <div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>