<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/header :: header}"></div>

<body>

<div class="container mt-5">
    <div class="d-flex justify-content-between mb-3">
        <h2>게시글 목록</h2>
        <a th:href="@{/boards/new}" class="btn btn-primary">글쓰기</a>
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boards}">
            <td th:text="${board.id}"></td>
            <td>
                <a th:href="@{/boards/{id}(id=${board.id})}"
                   th:text="${board.title}">
                </a>
            </td>
            <td th:text="${board.writer}"></td>
        </tr>
        </tbody>
    </table>

</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>


</html>