<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/header :: header}"></div>

<body>

<div class="container mt-5">
    <h2>게시글 작성</h2>

    <form th:action="@{/boards}"
          th:object="${boardRequestDto}"
          method="post">

      <div class="mb-3">
        <label class="form-label">제목</label>
        <input class="form-control" th:field="*{title}">
      </div>

      <div class="text-danger" th:errors="*{title}"></div>

      <div class="mb-3">
        <label class="form-label">작성자</label>
        <input class="form-control" th:field="*{writer}">
      </div>

      <div class="text-danger" th:errors="*{writer}"></div>

      <div class="mb-3">
        <label class="form-label">내용</label>
        <textarea th:field="*{content}"></textarea>
      </div>
      <div class="text-danger" th:errors="*{content}"></div>

      <button type="submit" class="btn btn-warning">
        저장
      </button>

    </form>
  </div>

  <div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>